a {
    text-decoration: none;
    color: #000;
}

i {
    position: relative;
    left: 5px;
}

i:hover {
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    i {
        left: 0px;
    }
}